/*------------------------------*/
/* Contact Form 7 Widget
/*------------------------------*/

.wpcf7-form-control{
    transition: all .4s ease;
}

.elementor-widget-pixi-cf7 label{
    display: block;
}
.elementor-widget-pixi-cf7 p{
    margin-bottom: 10px;
}

.wpcf7-form-control:not(.wpcf7-submit){
    background: #eee;
    border: 1px solid #ddd;
    padding: 14px 20px;
}

.wpcf7-form-control.wpcf7-textarea{
    height: 150px;
}

.elementor-widget-pixi-cf7 button:hover,
.elementor-widget-pixi-cf7 input[type="button"]:hover,
.elementor-widget-pixi-cf7 input[type="reset"]:hover,
.elementor-widget-pixi-cf7 input[type="submit"]:hover {
    text-decoration: none;
}

.elementor-widget-pixi-cf7 .wpcf7-form-control.wpcf7-file,
.elementor-widget-pixi-cf7 .wpcf7-form-control.wpcf7-acceptance {
    border-color: transparent !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

form.pixi-cf7-form.column-2  {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -15px;
}


form.pixi-cf7-form.column-2 p  {
    padding: 0 15px;
}

form.pixi-cf7-form.column-2 p,
form.pixi-cf7-form.column-2 p input {
    width: 100%;
}

form.pixi-cf7-form.column-2 p:nth-child(2),
form.pixi-cf7-form.column-2 p:nth-child(3){
    width: 50%;
}

